<template>
  <div>
    <section class="section is-secondary has-fixed-height has-background-image">
      <div class="has-background-image">
        <div class="container"/>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <app-blog-intro-card/>
        <app-blog-featured-post-collection
          :posts="posts.slice(0, 3)"/>
      </div>
    </section>
    <hr>
    <section
      v-if="posts.length > 3"
      class="section">
      <div class="container">
        <div class="content has-text-centered is-size-3">
          <h5>{{ $t('blog.old-posts') }}</h5>
        </div>
        <app-blog-post-collection
          :posts="posts.slice(3)" />
      </div>
    </section>
  </div>
</template>

<script>
  import HeaderSpace from '@/components/HeaderSpace'
  import AppBlogFeaturedPostCollection from '@/components/blog/AppBlogFeaturedPostCollection'
  import AppBlogPostCollection from '@/components/blog/AppBlogPostCollection'
  import AppBlogIntroCard from '@/components/blog/AppBlogIntroCard'

  import axios from 'axios'

  export default {
    components: {
      HeaderSpace,
      AppBlogFeaturedPostCollection,
      AppBlogPostCollection,
      AppBlogIntroCard
    },
    async asyncData ({ app, params, env }) {
      let temp = {
        posts: [],
        errors: []
      }
      const url = `${env.APP_URL}/api/posts`
      try {
        let { data } = await axios.get(url)
        temp.posts = data.posts
      } catch (e) {
        temp.errors.push('API_GUIDE_POST_ERROR')
      }
      return temp
    }
  }
</script>

<style lang="scss" scoped>
  .has-fixed-height {
    height: 300px;
  }

  .has-background-image {
    background-image: url('/images/blog-header.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
  }

  hr {
    height: 2px;
    border: none;
    background-color: black;
    width: 100px;
    margin: auto;
  }
</style>
