<template>
  <section class="section">
    <div class="card is-rounded has-shadow has-background">
      <div class="card-content">
        <nav class="level">
          <div class="level-left is-vcentered">
            <div class="content">
              <h3>Cookies e privacy</h3>
            </div>
          </div>
          <div class="level-right">
            <div class="field">
              <p class="control">
                <button
                  class="button is-primary is-medium has-shadow"
                  @click="consent(true)">
                  Accetto
                </button>
              </p>
            </div>
          </div>
        </nav>
        <div class="columns">
          <div class="column">
            Grazie ai cookies possiamo migliorare <br> i nostri servizi per te.
          </div>
        </div>
        <nav class="columns is-mobile">
          <div class="column">
            <div class="field">
              <label
                class="checkbox"
                disabled>
                <input
                  type="checkbox"
                  disabled
                  checked>
                Essenziali
              </label>
              <div class="content is-small">
                <p>Per salvare le tue preferenze</p>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="field">
              <label class="checkbox">
                <input
                  v-model="items"
                  type="checkbox"
                  value="support">
                Supporto
              </label>
              <div class="content is-small">
                <p>Per la chat di assistenza</p>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="field">
              <label class="checkbox">
                <input
                  v-model="items"
                  type="checkbox"
                  value="statistics">
                Statistici
              </label>
              <div class="content is-small">
                <p>Con Facebook e Google</p>
              </div>
            </div>
          </div>
        </nav>
        <nav class="level is-mobile">
          <div class="level-left">
            <p class="control">
              <button
                class="button is-white text-is-grey"
                @click="consent(false)">
                rifiuto
              </button>
            </p>
          </div>
        </nav>
      </div>
    </div>
  </section>
</template>

<script>
  export default {
    name: 'CookieMessage',
    props: {
      cookies: {
        type: Array,
        default () {
          return [ 'support', 'statistics' ]
        }
      }
    },
    data () {
      return {
        items: this.cookies
      }
    },
    watch: {
      cookies (value) {
        this.items = JSON.parse(JSON.stringify(value))
      }
    },
    methods: {
      consent (consent) {
        if (consent) {
          this.$emit('consent', this.items)
        } else {
          this.items = []
          this.$emit('revoke')
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
  .has-shadow {
    box-shadow: 0px 5px 50px -9px rgba(0,0,0,0.40);
  }

  .is-rounded {
    border-radius: 1rem;
  }

  .text-is-grey {
    color: #c2c2c2;
  }

  .has-background {
    background-image: url(/images/cookies.svg);
    background-position: center bottom;
    background-repeat: no-repeat;
  }
</style>
