<template>
  <footer
    class="footer">
    <div
      class="container">
      <div
        class="columns">
        <div
          class="column has-text-left">
          <a
            href="/privacy.pdf"
            class="is-size-7"
            @click="sendGoogleAction('footer-privacy')">
            {{ $t('footer.privacy') }}
          </a>
          <br>
          <a
            href="/terms-for-users.pdf"
            class="is-size-7"
            @click="sendGoogleAction('footer-termsUsers')">
            {{ $t('footer.terms') }}
          </a>
          <br>
          <a
            href="/terms-for-orgs.pdf"
            class="is-size-7"
            @click="sendGoogleAction('footer-termsOrgs')">
            {{ $t('footer.terms-orgs') }}
          </a>
        </div>
        <div
          class="column has-text-centered">
          <a
            href="https://www.facebook.com/revasplatform/"
            class="button is-light"
            @click="sendGoogleAction('footerFacebook')">
            <span
              class="icon is-large">
              <fa-icon
                :icon="['fab', 'facebook-f']"
                size="lg" />
            </span>
          </a>
          <a
            href="https://twitter.com/revasplatform"
            class="button is-light"
            @click="sendGoogleAction('footerTwitter')">
            <span
              class="icon is-large">
              <fa-icon
                :icon="['fab', 'twitter']"
                size="lg" />
            </span>
          </a>
          <a
            href="https://www.instagram.com/revasplatform/"
            class="button is-light"
            @click="sendGoogleAction('footerInstagram')">
            <span
              class="icon is-large">
              <fa-icon
                :icon="['fab', 'instagram']"
                size="lg" />
            </span>
          </a>
          <br>
          <span
            class="is-size-7">
            Copyright © 2018 Revas SRL Società Benefit. All rights reserved.
          </span>
        </div>
        <div
          class="column">
          <div
            class="content has-text-right is-size-7">
            <p>
              <strong>Revas SRL Società Benefit</strong><br>
              Capitale Sociale € 10.000 I.V. <br>
              P.IVA 02497260220
            </p>
            <p>
              c/o The Hub Trentino - Suedtirol<br>
              Via Roberto da Sanseverino 95<br>
              Trento 38122
            </p>
            <a
              href="https://www.revas.io"
              @click="sendGoogleAction('footer-revas.io')">
              www.revas.io
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
  export default {
    data () {
      return {}
    },
    methods: {
      sendGoogleAction (key) {
        this.$ga.event({
          eventCategory: key,
          eventAction: 'click',
          eventLabel: 'footer'
        })
      }
    }
  }
</script>
