<template>
  <nav
    class="navbar is-transparent">
    <div
      class="container">
      <div
        class="navbar-brand">
        <nuxt-link
          :to="$i18n.path('')"
          class="navbar-item">
          <img
            :src="brandLogoSrc"
            alt="Revas"
            width="250"
            height="80">
        </nuxt-link>
      </div>
      <div
        :class="{ 'is-active has-background-white': isNavActive }"
        class="navbar-menu">
        <div
          class="navbar-end has-text-centered">
          <nuxt-link
            :to="$i18n.path('blog')"
            class="navbar-item">
            <span
              :class="{'has-text-white': hasDarkTheme}"
              class="has-text-weight-lightbold is-size-5"
              @click="sendGoogleAction('header-actionBlog')">
              Blog
            </span>
          </nuxt-link>
          <span
            class="navbar-item">
            <a
              href="https://universe.revas.app"
              class="button is-primary is-medium"
              @click="sendGoogleAction('header-actionMySpace')">
              <span>
                {{ $t('header.my-space') }}
              </span>
            </a>
          </span>
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
  import BrandLogoInverted from '../assets/brand-logo-inverted.svg'
  import BrandLogo from '../assets/brand-logo.svg'

  export default {
    data () {
      return {
        isNavActive: false,
        hasDarkTheme: this.$route.path === '/' + this.$i18n.locale
      }
    },
    computed: {
      brandLogoSrc: function () {
        if (this.hasDarkTheme) {
          return BrandLogoInverted
        } else {
          return BrandLogo
        }
      }
    },
    watch: {
      '$route.path': function () {
        this.onRouteUpdate()
      }
    },
    created () {
      this.onRouteUpdate()
    },
    methods: {
      onRouteUpdate: function () {
        this.isNavActive = false
        this.hasDarkTheme = this.$route.path === '/' || this.$route.path === '/blog'
      },
      sendGoogleAction (key) {
        this.$ga.event({
          eventCategory: key,
          eventAction: 'click',
          eventLabel: 'header'
        })
      }
    }
  }
</script>

<style>
  .has-text-weight-lightbold {
    font-weight: 500;
  }

  .has-background-white {
    background-color: white !important;
  }
</style>
