<template>
  <a
    href="https://universe.revas.app"
    class="button action-button is-primary"
    @click="sendGoogleAction()">
    {{ action }}
  </a>
</template>

<script>
  export default {
    props: {
      action: {
        default: '',
        type: String
      }
    },
    methods: {
      sendGoogleAction ($event) {
        this.$emit('sendGoogleAction', $event)
      }
    }
  }
</script>

<style scoped lang="scss">
  $border: 0;

  @import '~bulma/sass/utilities/mixins';

.action-button {
  font-size: 1.5rem;
  width: 250px;
  height: 70px;
  &.has-shadow {
    box-shadow: 0px 10px 50px 0px rgba(0,0,0,0.2);
  }
  &:hover {
    transform: translateY(-5px);
    box-shadow: 0px 20px 80px 0px rgba(0,0,0,0.2);
  }
  &:active {
    transform: translateY(0);
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.2);
  }
}

</style>
