<template>
  <div>
    <div
      class="content is-medium">
      <div
        class="is-size-2 is-uppercase has-text-weight-semibold">
        {{ title }}
      </div>
      <p>
        {{ description }}
      </p>
    </div>
    <div
      v-for="(item, index) in items"
      :key="index">
      <features-list-item
        :icon="item.icon"
        :name="item.name"
        :status="item.status"
        :class="{'is-disabled': !item.isAvailable}"/>
      <br>
    </div>
  </div>
</template>

<script>
  import FeaturesListItem from '@/components/index/FeaturesListItem.vue'

  export default {
    components: {
      FeaturesListItem
    },
    props: {
      title: {
        default: '',
        type: String
      },
      description: {
        default: '',
        type: String
      },
      items: {
        default: () => [],
        type: Array
      }
    }
  }
</script>
