<template>
  <div
    class="media">
    <div
      class="media-left">
      <span
        class="icon is-large">
        <fa-icon
          :icon="icon"
          size="2x" />
      </span>
    </div>
    <div
      class="media-content is-size-5">
      {{ name }}
      <br>
      <sup
        class="is-size-7">
        <em>
          {{ status }}
        </em>
      </sup>
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      icon: {
        default: '',
        type: String
      },
      name: {
        default: '',
        type: String
      },
      status: {
        default: '',
        type: String
      }
    },

    data () {
      return { }
    }
  }
</script>

<style scoped>
  .is-disabled {
    color: lightgray;
  }
</style>
