<template>
  <div class="columns is-centered">
    <div class="column">
      <div class="card is-shadowless has-primary-background is-rounded">
        <div class="card-content">
          <div class="columns is-centered">
            <div class="column is-10">
              <div class="content has-text-centered is-medium">
                <h2>{{ title }}</h2>
                <p>{{ description }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      title: {
        type: String,
        default: ''
      },
      description: {
        type: String,
        default: ''
      }
    }
  }
</script>

<style lang="scss" scoped>
  hr {
    height: 2px;
    border: none;
    background-color: black;
    width: 100px;
    margin: auto;
  }

  .is-rounded {
    border-radius: 20px;
  }

  .has-primary-background {
    background-color: #f5f5f5;
  }
</style>
