<template>
  <div class="card">
    <div class="card-content">
      <div class="columns is-vcentered has-text-centered-mobile">
        <div
          v-if="image"
          class="column is-3">
          <figure
            class="image is-128x128"
            style="margin: auto;">
            <img
              :src="image">
          </figure>
        </div>
        <div class="column is-8">
          <div class="content">
            <h3>{{ title }}</h3>
            <p>{{ description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      title: {
        type: String,
        default: ''
      },
      description: {
        type: String,
        default: ''
      },
      image: {
        type: String,
        default: ''
      }
    }
  }
</script>

<style lang="scss" scoped>
.card {
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0,0,0,0.20);
}

.card-header-img {
  padding-top: 1rem;
}

.has-content-centered {
  display: flex;
  justify-content: center;
}
</style>
