<template>
  <div class="columns is-multiline">
    <div
      v-for="feature in features"
      :key="feature"
      class="column is-half">
      <platform-feature-card
        :title="$t('index.features.you-can.items.' + feature + '.title')"
        :description="$t('index.features.you-can.items.' + feature + '.description')"
        :image="'/images/features/' + feature + '.png'"
        style="height: 100%;"/>
    </div>
  </div>
</template>

<script>
  import PlatformFeatureCard from '@/components/index/PlatformFeatureCard'

  export default {
    components: {
      PlatformFeatureCard
    },
    data () {
      return {
        features: [
          'members',
          'blog',
          'cloud',
          'organizations'
        ]
      }
    }
  }
</script>
