<template>
  <div>
    <div class="card is-rounded is-disabled">
      <div class="card-content">
        <div class="content has-text-centered is-disabled">
          <figure class="image is-128x128 has-content-centered">
            <img
              :src="image">
          </figure>
          <p>
            <strike
              class="is-disabled"
              style="font-size: 1.75rem;">
              {{ price.full }}
            </strike>
            <br>
            <strong
              class="is-disabled"
              style="font-size: 2.5rem;">
              {{ price.discounted }}
            </strong>
            <br>
          </p>
          <hr>
          <br>
          <p>
            {{ details }}
          </p>
          <p>
            <action-button
              v-if="action"
              :action="action"
              @sendGoogleAction="sendGoogleAction()"
              />
          </p>
          <p>
            {{ conditions }}
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import ActionButton from '@/components/index/ActionButton.vue'

  export default {
    components: {
      ActionButton
    },
    props: {
      image: {
        default: '',
        type: String
      },
      title: {
        default: '',
        type: String
      },
      price: {
        default () {
          return {}
        },
        type: Object
      },
      conditions: {
        default: '',
        type: String
      },
      details: {
        default: '',
        type: String
      },
      action: {
        default: '',
        type: String
      }
    },
    methods: {
      sendGoogleAction ($event) {
        this.$emit('sendGoogleAction', $event)
      }
    }
  }
</script>

<style scoped lang="scss">
  $border: 0;

  @import '~bulma/sass/utilities/mixins';

.card {
  border-radius: 20px;
  box-shadow: 0 0px 50px rgba(0,0,0,0.10);
}

.card-header-img {
  padding-top: 1rem;
}

.has-content-centered {
  margin: auto;
}

hr {
  height: 2px;
  border: none;
  background-color: black;
  width: 100px;
  margin: auto;
}

</style>
