<template>
  <div
    class="columns is-multiline">
    <trait-container
      :title="$t('index.simple.title')"
      :description="$t('index.simple.description')"
      class="column is-half"
      image="/images/index-simple-trait.svg"/>
    <trait-container
      :title="$t('index.unique.title')"
      :description="$t('index.unique.description')"
      class="column is-half"
      image="/images/index-unique-trait.svg"/>
    <trait-container
      :title="$t('index.collaborative.title')"
      :description="$t('index.collaborative.description')"
      class="column is-half"
      image="/images/index-collaborative-trait.svg"/>
    <trait-container
      :title="$t('index.yours.title')"
      :description="$t('index.yours.description')"
      class="column is-half"
      image="/images/index-customizable-trait.svg"/>
  </div>
</template>

<script>
  import TraitContainer from '@/components/index/TraitContainer.vue'

  export default {
    components: {
      TraitContainer
    }
  }
</script>

<style lang="scss" scoped>
@import "~bulma/sass/utilities/initial-variables";

$column-gap: 2rem;

@import "~bulma";
</style>
