<template>
  <div>
    <div
      class="content is-large has-text-centered">
      <hr>
      <h3
        class="is-uppercase">
        {{ title }}
      </h3>
      <p>
        {{ description }}
      </p>
      <div
        v-if="image">
        <figure
          class="image is-marginless"
          style="width: 100%;">
          <img
            :src="image">
        </figure>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      title: {
        default: '',
        type: String
      },
      description: {
        default: '',
        type: String
      },
      image: {
        default: '',
        type: String
      }
    }
  }
</script>

<style scoped lang="scss">
  $border: 0;

  @import '~bulma/sass/utilities/mixins';

  hr {
    height: 2px;
    border: none;
    background-color: black;
    width: 100px;
    margin: auto;
  }
</style>
