.is-secondary {
  background-color: $revas-secondary;
  color: white;
}

.is-secondary.is-inverted {
  background-color: white;
  color: $revas-secondary;
}

.has-content-centered {
  display: flex;
  justify-content: center;
}
