$border: 0;

@import '../../node_modules/bulma/sass/utilities/mixins';

.header-background {
  background: url('/images/index-header.svg') no-repeat bottom center;
  background-size: cover;
}

// .header-title {
//   font-weight: 800;
//   @include touch {
//     font-size: 7vw;
//   }
//   @include desktop {
//     font-size: 5vw;
//   }
// }

// .header-subtitle {
//   font-weight: 400;
//   @include touch {
//     font-size: 5vw;
//   }
//   @include desktop {
//     font-size: 2.5vw;
//   }
// }
