// Color palette

$revas-deep-purple: #360D75;
$revas-purple: #6023AF;
$revas-light-purple: #8154EC;
$revas-ultraviolet: #772BB2;
$revas-fire-sunset: #FF6694;

$revas-dawn-purple: #C4BBFF;
$revas-dreamy-purple: #D696FF;
$revas-sweet-orange: #FE736F;
$revas-light-afternoon: #FFD4BC;

$revas-morning-sun: #FFCC35;
$revas-day-sky: #4ED6FF;
$revas-nature-green: #3ED4B4;

// Color configuration

$revas-primary: $revas-sweet-orange;
$revas-secondary: $revas-light-purple;

// Font

@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900');
$revas-sans-serif: "Raleway", sans-serif;

// Header

$revas-navbar-height: 9rem;
$revas-navbar-item-img-max-height: 5rem;
$revas-navbar-background-color: transparent;
