<template>
  <div>
    <header-space/>
    <div class="section">
      <div class="container">
        <div class="columns">
          <div class="column is-8 is-offset-2">
            <app-post-header
              :post="post"/>
          </div>
        </div>
        <br>
        <figure class="image is-3by1">
          <img
            :src="post.image"
            alt="">
        </figure>
        <br>
        <div class="columns">
          <div class="column is-8 is-offset-2">
            <app-post-content
              :post="post"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import HeaderSpace from '@/components/HeaderSpace'
  import AppPostHeader from '@/components/blog/AppPostHeader'
  import AppPostContent from '@/components/blog/AppPostContent'

  import axios from 'axios'

  export default {
    head () {
      return {
        meta: [
          { property: 'og:url', content: process.env.APP_URL + this.$route.path },
          { property: 'og:type', content: 'article' },
          { property: 'og:title', content: this.post.title },
          { property: 'og:description', content: this.post.description },
          { property: 'og:image', content: this.post.image },
          { property: 'og:locale', content: this.post.locale },
          { property: 'fb:app_id', content: process.env.VUE_APP_FACEBOOK_ID }
        ]
      }
    },
    components: {
      HeaderSpace,
      AppPostHeader,
      AppPostContent
    },
    async asyncData ({ app, params, env }) {
      let temp = {
        post: {},
        errors: []
      }
      const url = `${env.APP_URL}/api/posts/${params.slug}`
      try {
        let { data } = await axios.get(url)
        temp.post = data.post
      } catch (e) {
        temp.errors.push('API_BLOG_POST_ERROR')
      }
      return temp
    }
  }
</script>
