<template>
  <div
    class="card has-shadow has-radius is-full-height has-hover-effect"
    style="overflow: hidden;">
    <div
      class="card-content"
      style="padding: 0;">
      <div class="columns">
        <div
          :style="{ backgroundPosition: 'center center', backgroundSize: 'cover', objectFit: 'cover', backgroundImage: `url('${post.image}')`}"
          class="column is-3 is-paddingless has-background-image"/>
        <div
          class="column"
          style="padding: 2rem;">
          <div class="content">
            <p>
              <strong class="is-size-4">{{ post.title }}</strong>
              <br>
              {{ post.description }}
            </p>
            <p class="has-text-grey-light is-size-7">
              {{ toLocale(post.publishedOn) }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      post: {
        type: Object,
        default () {
          return {
          }
        }
      }
    },
    methods: {
      toLocale (date) {
        return new Date(date).toLocaleDateString()
      }
    }
  }
</script>

<style lang="scss" scoped>
    .has-shadow {
        box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.1);
    }

    .has-radius {
        border-radius: 1rem;
    }

    .has-hover-effect {
      &:hover{
        box-shadow: 0px 5px 60px 0px rgba(0,0,0,0.10);
        transform: translateY(-3px);
      }
      &:active {
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
        transform: translateY(0);
      }
    }

</style>
