<template>
  <div class="columns is-centered">
    <div class="column">
      <div class="card is-shadowless has-grey-background is-rounded">
        <div class="card-content">
          <div class="columns is-centered">
            <div class="column is-10">
              <div class="content has-text-centered">
                <h2>{{ $t('blog.intro-title') }}</h2>
                <p>{{ $t('blog.intro-description') }}</p>
                <hr>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
  hr {
    height: 2px;
    border: none;
    background-color: black;
    width: 100px;
    margin: auto;
  }

  .is-rounded {
    border-radius: 20px;
  }

  .has-grey-background {
    background-color: #f5f5f5;
  }
</style>
