<template>
  <div>
    <div class="columns is-multiline is-centered">
      <div
        v-for="post in posts"
        :key="post.slug"
        class="column">
        <nuxt-link
          :to="$i18n.path(`blog/${post.slug}`)">
          <app-blog-post-card
            :post="post" />
        </nuxt-link>
      </div>
    </div>
  </div>
</template>

<script>
  import AppBlogPostCard from '@/components/blog/AppBlogPostCard'

  export default {
    components: {
      AppBlogPostCard
    },
    props: {
      posts: {
        type: Array,
        default () {
          return []
        }
      }
    }
  }
</script>
