<template>
  <div>
    <div class="columns is-multiline">
      <div
        v-for="post in posts"
        :key="post.slug"
        class="column is-one-third is-one-third-tablet">
        <nuxt-link
          :to="$i18n.path(`blog/${post.slug}`)">
          <app-blog-featured-post-card
            :post="post"/>
        </nuxt-link>
      </div>
    </div>
  </div>
</template>

<script>
  import AppBlogFeaturedPostCard from '@/components/blog/AppBlogFeaturedPostCard'

  export default {
    components: {
      AppBlogFeaturedPostCard
    },
    props: {
      posts: {
        type: Array,
        default () {
          return []
        }
      }
    }
  }
</script>
