<template>
  <div
    class="card is-borderless has-shadow has-radius has-hover-effect is-clipped has-full-height">
    <div class="card-image">
      <figure class="image is-16by9">
        <img
          :src="post.image"
          style="object-fit: cover;">
      </figure>
    </div>
    <div class="card-content">
      <div class="content">
        <h2>{{ post.title }}</h2>
        <p class="is-size-6">{{ post.description }}</p>
        <p class="has-text-grey-light is-size-7">{{ toLocale(post.publishedOn) }}</p>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      post: {
        type: Object,
        default () {
          return {
          }
        }
      }
    },
    methods: {
      toLocale (date) {
        return new Date(date).toLocaleDateString()
      }
    }
  }
</script>

<style lang="scss" scoped>
    .has-shadow {
        box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.05);
    }

    .has-radius {
        border-radius: 20px;
    }

    .is-borderless {
       border: 0;
    }

    .has-hover-effect {
      &:hover{
        box-shadow: 0px 5px 60px 0px rgba(0,0,0,0.10);
        transform: translateY(-3px);
      }
      &:active {
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
        transform: translateY(0);
      }
    }

    .is-clipped {
      overflow: hidden;
    }

    .has-full-height {
      height: 100%;
    }
</style>
