<template>
  <div>
    <div class="content is-large">
      <h1>{{ post.title }}</h1>
      <p class="has-text-grey has-text-weight-semibold">{{ post.description }}</p>
      <p class="is-size-6">{{ toLocale(post.publishedOn) }}</p>
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      post: {
        type: Object,
        default () {
          return {}
        }
      }
    },
    methods: {
      toLocale (date) {
        return new Date(date).toLocaleDateString()
      }
    }
  }
</script>
