<template>
  <div
    class="content is-medium"
    v-html="post.content"/>
</template>

<script>
  export default {
    props: {
      post: {
        type: Object,
        default () {
          return {
            content: ''
          }
        }
      }
    }
  }
</script>
