<template>
  <div
    id="app"
    class="has-fullheight">
    <div
      class="is-front">
      <app-header/>
    </div>
    <nuxt
      class="is-fullheight" />
    <app-footer/>
    <div class="columns privacy-container">
      <div class="column is-5">
        <privacy-consensus-section
          v-show="isRequiredConsent"
          :cookies="defaultCookies"
          @consent="consent"
          @revoke="revoke" />
      </div>
    </div>
    <button
      v-show="!isRequiredConsent"
      class="button is-inverted privacy-button has-text-black"
      @click="isRevisionRequired = true">Impostazioni privacy</button>
  </div>
</template>

<script>
  import TheHeader from '@/components/TheHeader'
  import TheFooter from '@/components/TheFooter'
  import PrivacyConsensusSection from '@/components/PrivacyConsensusSection'

  export default {
    name: 'App',
    components: {
      'app-header': TheHeader,
      'app-footer': TheFooter,
      PrivacyConsensusSection
    },
    data () {
      return {
        isRevisionRequired: null
      }
    },
    computed: {
      isRequiredConsent () {
        return (!this.hasConsent && this.isRevisionRequired === null) || this.isRevisionRequired
      },
      defaultCookies () {
        return this.hasConsent ? this.cookies : [ 'support', 'statistics' ]
      },
      cookies () {
        return this.$store.getters['privacy/cookies']
      },
      hasConsent () {
        return this.$store.getters['privacy/hasConsent']
      }
    },
    mounted () {
      this.updateCookies()
    },
    methods: {
      consent ($event) {
        this.isRevisionRequired = false
        this.$store.commit('privacy/consent', $event)
        this.updateCookies()
      },
      revoke () {
        this.isRevisionRequired = false
        this.$store.commit('privacy/revoke')
        this.updateCookies()
      },
      updateCookies () {
        if (this.cookies.includes('support')) {
          this.$intercomCookie.consent()
        } else {
          this.$intercomCookie.revoke()
        }
        if (this.cookies.includes('statistics')) {
          this.$pixelCookie.consent()
          this.$analyticsCookie.consent()
        } else {
          this.$pixelCookie.revoke()
          this.$analyticsCookie.revoke()
        }
      }
    }
  }
</script>

<style lang="scss">
  @import "../assets/style/variables";
  @import "../assets/style/helpers";
  @import "~bulma/sass/utilities/initial-variables";
  @import "~bulma/sass/utilities/functions";

  $primary: $revas-primary;
  $primary-invert: findColorInvert($primary);

  $family-primary: $revas-sans-serif;

  $link: $primary !default;
  $link-invert: $primary-invert !default;
  $link-focus-border: $primary !default;

  $navbar-height: $revas-navbar-height;
  $navbar-item-img-max-height: $revas-navbar-item-img-max-height;
  $navbar-background-color: $revas-navbar-background-color;

  @import "~bulma/sass/utilities/derived-variables";

  @import "~bulma";

  .has-fullheight {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  .is-fullheight {
    flex: 1;
  }

  .is-front {
    width: 100%;
    position: absolute;
    z-index: 1000;
  }

  .button.is-primary {
    border-radius: 0;
  }

  .privacy-container {
    position: fixed !important;
    bottom: -3rem;
    left: 0;
    right: 0;
    z-index: 2147483647;
  }

  .privacy-button {
    position: fixed !important;
    bottom: 20px;
    left: 20px;
    z-index: 10000;
    color: #000000;
    border: 0;
    box-shadow: 0px 0px 74px -1px rgba(0,0,0,0.10);
  }
</style>
