<template>
  <div>
    <nuxt/>
  </div>
</template>

<style lang="scss">
  @import "../assets/style/variables";
  @import "../assets/style/helpers";
  @import "~bulma/sass/utilities/initial-variables";
  @import "~bulma/sass/utilities/functions";

  $primary: $revas-primary;
  $primary-invert: findColorInvert($primary);

  $family-primary: $revas-sans-serif;

  @import "~bulma/sass/utilities/derived-variables";
  @import "~bulma";

  .has-fullheight {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  .is-fullheight {
    flex: 1;
  }

  .is-front {
    width: 100%;
    position: absolute;
    z-index: 1000;
  }

  .button.is-primary {
    border-radius: 0;
  }
</style>

<script>
  export default {
    mounted () {
      this.$intercomCookie.consent()
      this.$analyticsCookie.consent()
      this.$pixelCookie.consent()
    }
  }
</script>
