<template>
  <div>
    <section
      class="hero is-primary is-fullheight header-background">
      <header-space/>
      <div
        class="hero-body">
        <div
          class="container has-text-centered">
          <div class="content is-large">
            <h1
              class="is-uppercase has-text-white"
              v-html="$t('index.title')"/>
            <p>
              {{ $t('index.subtitle') }}
            </p>
          </div>
          <div
            style="margin-top:50px;">
            <action-button
              :action="$t('index.action')"
              class="has-shadow"
              @sendGoogleAction="sendGoogleAction('index-actionMySpace')"
              />
          </div>
        </div>
      </div>
    </section>
    <section
      class="section">
      <div
        class="container">
        <intro-card
          :title="$t('index.what-is.title')"
          :description="$t('index.what-is.description')"/>
      </div>
    </section>
    <section
      class="section">
      <div
        class="container">
        <trait-container-section/>
      </div>
    </section>
    <section
      class="section"
      style="background-color: #8154EC; padding-bottom: 0;">
      <div
        class="container">
        <div
          class="content is-large has-text-centered">
          <h4 class="title is-uppercase has-text-white">
            {{ $t('index.you-can.title') }}
          </h4>
          <p
            class="has-text-white">
            {{ $t('index.you-can.description') }}
          </p>
        </div>
        <hr
          style="margin-bottom: 2rem;">
        <platform-feature-cards-collection/>
      </div>
      <div
        class="columns is-centered"
        style="margin-bottom: 0; padding-bottom: 0;">
        <div
          class="column is-8"
          style="margin-bottom: 0; padding-bottom: 0;">
          <div
            class="figure"
            style="margin-bottom: 0; padding-bottom: 0; overflow: hidden;">
            <img
              src="/images/platform.svg"
              alt="platform-image"
              style="margin-bottom: 0; padding-bottom: 0; transform: translateY(10px);">
          </div>
        </div>
      </div>
    </section>
    <!-- <section
      class="hero is-fullheight">
      <div
        class="hero-body">
        <div
          class="container">
          <div
            class="columns">
            <div
              class="column">
              <features-list
                :title="$t('index.features.administrate.title')"
                :description="$t('index.features.administrate.description')"
                :items="[
                  {
                    isAvailable: true,
                    icon: 'address-card',
                    name: $t('index.features.items.members.name'),
                    status: $t('index.features.items.members.description')
                  },
                  {
                    icon: 'balance-scale',
                    name: $t('index.features.items.accounting.name'),
                    status: $t('index.features.items.accounting.description'),
                  },
                  {
                    icon: 'child',
                    name: $t('index.features.items.volunteering.name'),
                    status: $t('index.features.items.volunteering.description')
                  },
                  {
                    icon: 'briefcase',
                    name: $t('index.features.items.business.name'),
                    status: $t('index.features.items.business.description')
                  }
                ]"/>
            </div>
            <div
              class="column">
              <features-list
                :title="$t('index.features.manage.title')"
                :description="$t('index.features.manage.description')"
                :items="[
                  {
                    icon: 'bell',
                    name: $t('index.features.items.calendar.name'),
                    status: $t('index.features.items.calendar.description')
                  },
                  {
                    icon: 'calendar',
                    name: $t('index.features.items.events.name'),
                    status: $t('index.features.items.events.description')
                  },
                  {
                    icon: 'graduation-cap',
                    name: $t('index.features.items.courses.name'),
                    status: $t('index.features.items.courses.description')
                  },
                  {
                    icon: 'basketball-ball',
                    name: $t('index.features.items.activities.name'),
                    status: $t('index.features.items.activities.description')
                  }
                ]"/>
            </div>
          </div>
          <div
            class="columns">
            <div
              class="column">
              <features-list
                :title="$t('index.features.communicate.title')"
                :description="$t('index.features.communicate.description')"
                :items="[
                  {
                    icon: 'envelope',
                    name: $t('index.features.items.newsletter.name'),
                    status: $t('index.features.items.newsletter.description')
                  },
                  {
                    icon: 'share-alt',
                    name: $t('index.features.items.blog.name'),
                    status: $t('index.features.items.blog.description')
                  },
                  {
                    icon: 'desktop',
                    name: $t('index.features.items.web.name'),
                    status: $t('index.features.items.web.description')
                  },
                  {
                    icon: 'leaf',
                    name: $t('index.features.items.transparency.name'),
                    status: $t('index.features.items.transparency.description')
                  }
                ]"/>
            </div>
            <div
              class="column">
              <features-list
                :title="$t('index.features.analyze.title')"
                :description="$t('index.features.analyze.description')"
                :items="[
                  {
                    icon: 'chart-pie',
                    name: $t('index.features.items.report.name'),
                    status: $t('index.features.items.report.description')
                  },
                  {
                    icon: 'space-shuttle',
                    name: $t('index.features.items.impact.name'),
                    status: $t('index.features.items.impact.description')
                  },
                  {
                    icon: 'puzzle-piece',
                    name: $t('index.features.items.retrospective.name'),
                    status: $t('index.features.items.retrospective.description')
                  },
                  {
                    icon: 'chart-line',
                    name: $t('index.features.items.performance.name'),
                    status: $t('index.features.items.performance.description')
                  }
                ]"/>
            </div>
          </div>
        </div>
      </div>
    </section> -->
    <section
      class="section">
      <div
        class="container has-text-centered">
        <div class="columns is-centered">
          <div class="column is-two-thirds">
            <div class="content">
              <h1>{{ $t('index.pricing.demo') }}</h1>
            </div>
            <action-button
              :action="$t('index.action')"
              class="has-shadow"
              @sendGoogleAction="sendGoogleAction('index-pricingMySpace')"
              />
          </div>
        </div>
      </div>
    </section>
    <hr class="is-black">
    <br>
    <!-- <section class="section">
      <div
        class="container">
        <intro-card
          :title="$t('index.pricing.info.title')"
          :description="$t('index.pricing.info.description')"/>
        <div class="columns">
          <div class="column is-5">
            <pricing-card
              :title="$t('index.pricing.monthly.title')"
              :price="{
                full: $t('index.pricing.monthly.price-with-period', {price: 24}),
                discounted: $t('index.pricing.monthly.price-with-period', {price: 12})
              }"
              :conditions="$t('index.pricing.monthly.conditions')"
              :details="$t('index.pricing.monthly.details')"
              image="/images/monthly.svg"
              />
          </div>
          <div class="column">
            <pricing-card
              :title="$t('index.pricing.yearly.title')"
              :price="{
                full: $t('index.pricing.yearly.price-with-period', {price: 20}),
                discounted: $t('index.pricing.yearly.price-with-period', {price: 10})
              }"
              :conditions="$t('index.pricing.yearly.conditions')"
              :details="$t('index.pricing.yearly.details')"
              image="/images/yearly.svg"
              />
          </div>
        </div>
      </div>
    </section> -->
  </div>
</template>

<script>
  import TraitContainerSection from '@/components/index/TraitContainerSection.vue'
  import FeaturesList from '@/components/index/FeaturesList.vue'
  import PricingCard from '@/components/index/PricingCard.vue'
  import ActionButton from '@/components/index/ActionButton.vue'
  import HeaderSpace from '@/components/HeaderSpace.vue'
  import IntroCard from '@/components/index/IntroCard.vue'
  import PlatformFeatureCardsCollection from '@/components/index/PlatformFeatureCardsCollection.vue'

  export default {
    name: 'IndexPage',
    components: {
      TraitContainerSection,
      FeaturesList,
      PricingCard,
      ActionButton,
      HeaderSpace,
      IntroCard,
      PlatformFeatureCardsCollection
    },
    methods: {
      sendGoogleAction (key) {
        this.$ga.event({
          eventCategory: key,
          eventAction: 'click',
          eventLabel: 'index'
        })
      }
    }
  }
</script>

<style scoped lang="scss">
@import "../../assets/style/variables";
@import "../../assets/style/helpers";
@import "../../assets/style/index";

hr {
    height: 2px;
    border: none;
    background-color: white;
    width: 100px;
    margin: auto;
    &.is-black {
      background-color: black;
    }
  }
</style>
