<template>
  <div>
    <header-space/>
    <section
      class="section">
      <div
        class="container">
        <div
          class="content has-text-left">
          <span
            v-html="content" />
        </div>
      </div>
    </section>
  </div>
</template>

<script>
  import HeaderSpace from '@/components/HeaderSpace'

  import showdown from 'showdown'
  import axios from 'axios'

  export default {
    name: 'TermsPage',
    components: {
      HeaderSpace
    },
    data () {
      return {
        content: ''
      }
    },
    created () {
      this.fetchData()
    },
    methods: {
      fetchData () {
        axios.get('https://gitlab.com/revas-io/policies/raw/master/terms/' + this.$i18n.locale + '.md').then((response) => {
          const converter = new showdown.Converter()
          this.content = converter.makeHtml(response.data)
        })
      }
    }
  }
</script>
