<template>
  <section class="hero is-fullheight has-text-centered">
    <div class="hero-body is-narrow">
      <div class="container">
        <section>
          <figure class="image is-128x128 has-image-centered">
            <img
              src="/images/check-mail.png">
          </figure>
        </section>
        <br>
        <br>
        <div class="columns is-centered">
          <div class="column is-half">
            <div class="content is-medium">
              <h1 class="title">
                {{ $t('verification.title') }}
              </h1>
              <p>
                {{ $t('verification.description') }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="hero-foot">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-half">
            <figure class="image is-128x128 has-image-centered">
              <img
                src="../../assets/brand-logo.svg">
            </figure>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  import ActionButton from '@/components/index/ActionButton.vue'
  import HeaderSpace from '@/components/HeaderSpace.vue'

  export default {
    components: {
      ActionButton,
      HeaderSpace
    },
    layout: 'welcome',
    methods: {
      sendGoogleAction (key) {
        this.$ga.event({
          eventCategory: key,
          eventAction: 'click',
          eventLabel: 'welcome'
        })
      }
    }
  }
</script>

<style lang="scss" scoped>

.has-image-centered {
  margin-left: auto;
  margin-right: auto;
}

.is-middle {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

</style>
